body { 
  margin: 0; 
  padding: 0; 
  font-family: 'Segoe UI', sans-serif; 
  color: white;
}

.page-container { 
  height: 850px;  
  display: flex;
  flex-direction: column;
} 

header {
  background-color: #6b6b6b;  
  height: 150px;
  width: auto; 
  display: flex;
} 

.Heading{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Heading ul a{
  display: flex;
  flex-direction: row;
  color: white;
  height: 38px;
  padding: auto;
  text-align: center;
  font-size: larger;
}

h1 {
  text-align: center;
  font-size: 45px;
}

p {
    width: 755px;
}

p.Shorter {
    width: 645px;
}

.Title {
    display: flex;
    justify-self: start;
}

main {
  color: black;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 18px;
}

footer { 
  background-color: #6b6b6b;  
  padding: 20px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
} 

.FooterText {
  width: 732px;
  color: #ffffff8f;
}

.Other-Links {   
  margin-top: 10px; 
  display: flex;
  justify-content: center;
} 

.Other-Links a {
  color: white;
  text-decoration: none;
}