<!DOCTYPE html>
<html>
<head>
    <title>Style 1</title>
    <link rel="stylesheet" href="style1.css">
</head>

<body>
    <div class="page-container"> 
        <header > 
            <div class="Heading">
                <img src="" alt="Logo"/><h1> Heading 1 </h1>
            </div>
        </header> 

        <nav> 
            <ul><a href="">Home</a></ul>
            <ul><a href="">Category 1</a></ul>
            <ul><a href="">Category 2</a></ul>
        </nav>  

        <main class="main-content"> 
            <div class="contents">
                Contents
            </div>

            <div class="contents-2">
                More Contents
            </div>
        </main> 

        <footer>
            <p>Footer info</p> 
            <div class="Other-Links">
                <a href="">Links</a>
            </div>
        </footer> 

    </div>
</body>
</html>
