<!DOCTYPE html>
<html>
<head>
    <title>Style 1</title>
    <link rel="stylesheet" href="style1.css">
</head>

<body>
    <div class="page-container"> 
        <header > 
            <div class="Heading">
                <h1> Heading 1 </h1>
            </div>
        </header> 

        <nav > 
            <a href="">Home</a>
            <a href="">About Us</a>
            <a href="">Contact Us</a>
        </nav> 

        <main class="main-content"> 
            <div class="contents">
                Contents
            </div>

            <div class="contents-2">
                More Contents
            </div>
        </main> 

        <footer>
            Footer info 

            <div class="Other-Links">
                <a href="">Links</a>
            </div>
        </footer> 

    </div>
</body>
</html>
